html
    height: 100%
body
    background-color: #eaeaea
header
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .logo
        margin: 250px 530px 120px 530px
    nav
        background-color: #ffffff
        display: flex
        justify-content: center
        align-items: center
        padding: 50px 95px
    .menu-logo
        cursor: pointer
    .top-menu
        display: flex
        justify-content: space-around
        list-style: none
        width: 565px
        margin-right: 55px
        a
            color: #000000
            text-decoration: none
            text-transform: uppercase
    form
        input[type='search']
            padding: 10px 30px
            text-align: center
        i.fas
            line-height: 26px
            text-align: center
            margin-right: -46px
            position: relative
            z-index: 1
            font-size: 12px
            color: #c2c2c2
