8
    box-sizing: border-box
html
    height: 100%
body
    background-color: #eaeaea
header
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .logo
        margin: 250px 530px 120px 530px
    nav
        background-color: #ffffff
        display: flex
        justify-content: center
        align-items: center
        padding: 50px 95px
    .menu-logo
        cursor: pointer
    .top-menu
        display: flex
        justify-content: space-around
        list-style: none
        width: 565px
        margin-right: 55px
        a
            color: #000000
            text-decoration: none
            text-transform: uppercase
    form
        input[type='search']
            padding: 10px 30px
            text-align: center
        i.fas
            line-height: 26px
            text-align: center
            margin-right: -46px
            position: relative
            z-index: 1
            font-size: 12px
            color: #c2c2c2
main
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-top: 87px
    .banner
        padding: 50px 674px 60px 87px
        background-size: cover
        background-image: url('../img/background-banner.png')
        h1
            padding-top: 38px
            color: #ab495a
        p
            color: #6c6c6c
            padding-top: 30px
            padding-bottom: 30px
        button
            background: none
            border: 1px solid #c2c2c2
            padding: 8px 15px
    .target-recipe
        display: flex
        padding: 40px 45px 0 50px